body{
    font-family:"roboto", sans-serif;
    margin:0;
}

body{
    font-family: sans-serif;
    h1{font-size: 3.5em;
        h2{font-size:2.5em;
            h3{font-size: 1.5em;
                p{font-size: 1;
                    ul{list-style: none;
                        li{font-size: 1.25em;
                            a{list-style:none;
                            }
                        }
                    }
                }
            }
        }
    }
}