button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 0% 40px;
    border-radius: 10px;
    box-shadow:2px 2px 10px rgba(0, 0, 0, 5);
    border: 2px solid rgba(0, 0, 0, 0.3);
    background-color: palevioletred;
}
button:hover{
    background-color: rgb(191, 100, 131);
}