footer{
    background-color:$secundary-color;
    margin: 0;
    padding: 20px;
    nav{
        text-align: center;
        font-weight: bold;
        align-items: center center;
        a{
            text-decoration: none;
            color: black;
            div{
                .container{
                text-align: center;
                align-items: center center;
                }
            }
        }
    }
}

footer{
    .container{
        text-align: center;
        align-items: center center;
    }
}