header{
    background-color:$secundary-color;
    .color-acento{
        color: $primary-color;
        
    }
}

header{
    .logo{
        margin: 0;
        padding: 25px 30px;
        font-weight: bold;
        color:rgb(27, 25, 25);
    font-size: 1.65em;
}
}


a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    &:hover{
        color:$primary-color;
    }
}

header{
    .container{
        max-height: 1400px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center
    }
}


@media(min-width:720px){
    /*header deskt*/
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 30px;
    }





}